@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    font-family: 'OpenSans-Regular';
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.header-menu {

}

.content {

}
