body {
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.point {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
    background: #000;
}
